<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsd.web.mapper.BillaccountDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wangsd.web.model.Billaccount">
        <id column="id" property="id" />
        <result column="housing_id" property="housingId" />
        <result column="roominfo_id" property="roominfoId" />
        <result column="cost_type" property="costType" />
        <result column="bill_entry_amount" property="billEntryAmount" />
        <result column="acct_period" property="acctPeriod" />
        <result column="release_day" property="releaseDay" />
        <result column="deadline" property="deadline" />
        <result column="relate_id" property="relateId" />
        <result column="status" property="status" />
        <result column="payDate" property="payDate" />
        <result column="payType" property="payType" />
        <result column="payStatus" property="payStatus" />
        <result column="deleteStatus" property="deleteStatus" />
        <result column="alipay_trade_no" property="alipayTradeNo" />
        <result column="weixin_trade_no" property="weixinTradeNo" />
        <result column="printStatus" property="printStatus" />
        <result column="ticketStatus" property="ticketStatus" />
        <result column="invoiceSerialNum" property="invoiceSerialNum" />
        <result column="invoiceCode" property="invoiceCode" />
        <result column="invoiceNum" property="invoiceNum" />
        <result column="buyer_user_id" property="buyerUserId" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
