<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsd.web.mapper.HousinginfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wangsd.web.model.Housinginfo">
        <id column="id" property="id" />
        <result column="community_id" property="communityId" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="address" property="address" />
        <result column="parent_id" property="parentId" />
        <result column="district_code" property="districtCode" />
        <result column="city_code" property="cityCode" />
        <result column="province_code" property="provinceCode" />
        <result column="community_locations" property="communityLocations" />
        <result column="associated_pois" property="associatedPois" />
        <result column="hotline" property="hotline" />
        <result column="message_num" property="messageNum" />
        <result column="status" property="status" />
        <result column="deleteStatus" property="deleteStatus" />
        <result column="create_time" property="createTime" />
        <result column="water_unit" property="waterUnit" />
    </resultMap>

</mapper>
